<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script>
</head>
<div class="${grid}">
	<label for="${id}">${title}</label>
	<input type="text" class="form-control" id="${id}" name="${id}" value="[[${id}]]">
	<script>$('#${id}').datepicker({clearBtn: true, language: "pt-BR", todayHighlight: true	});</script>
</div>
